<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
  <body>
    <div id="vue_rust">
      <div>
        <input v-model="base" />
        <input v-model="addend" />
        <p>base : {{ base }}</p>
        <p>addend : {{ addend }}</p>
        <p>sum : {{ sum }}</p>
        <button v-on:click="calcSum()">sum</button>
      </div>
    </div>

    <script>
      const vue_rust = new Vue({
        el: '#vue_rust',
        data: {
          instance: '',
          base: 0,
          addend: 0,
          sum: 0
        },
        created: function() {
          fetch('./lib.wasm')
            .then(response => response.arrayBuffer())
            .then(bytes => WebAssembly.instantiate(bytes, {}))
            .then(results => {
              this.instance = results.instance;
            });
        },
        methods: {
          calcSum: function() {
            this.sum = this.instance.exports.sum(this.base, this.addend);
          }
        }
      });
    </script>
  </body>
</html>
